.home{
    width:84%;
    height:auto;
    margin:auto;
    margin-top: 30px;
    p{
        color: rgb(155, 153, 153);
        font-size: 0.74em;
        margin-bottom: 10px;
        font-weight: 600;
    }
}