.header {
    top: 0;
    z-index: 999;
    position: sticky;
    background-color: rgb(245, 246, 248);
    border-bottom: solid 1px #e1e2e2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 42px;
    margin-left: 3px;
    .header__logo {
        background-color: rgb(241, 241, 243);
        flex: 0.22.5;
        border-right: solid 1px #e1e2e2;
        border-bottom: solid 1px #e1e2e2;
        height: 43px;
        display: flex;
        justify-content: center;
        margin: 0px 0px 0px -7px;
        img {
            object-fit: contain;
            width: 27px;
            margin-left: -12%;
            cursor: pointer;
        }
    }
    .header__burger {
        color: #000;
        margin-left: 0.5%;
        :hover {
            color: rgb(44, 44, 44);
            cursor: pointer;
        }
    }
    .header__menu {
        flex: 0.8;
        display: flex;
        justify-content: flex-end;
        .header__mid {
            flex: 0.37;
            display: flex;
            margin-left: 170px;
            flex-direction: column;
            height: auto;
            position: relative;
            .header__search {
                flex: 1;
                background-color: #fff;
                border: solid 1px #cac9c9;
                input {
                    width: 92%;
                    border: none;
                    height: 30px;
                    font-size: 0.8em;
                    color: #666;
                    outline: none;
                    background: none;
                    padding-left: 4%;
                }
                ::placeholder {
                    color: #ccc;
                }
                .header_seacrhicon {
                    color: rgb(134, 134, 134);
                    width: 20px;
                }
            }
            .header__search_item {
                border: solid 1px #d6d3d3;
                border-top: none;
                width: 100%;
                position: absolute;
                top: 32.3px;
                background-color: #fff;
                height: 220px;
                box-shadow: 2px 8px 14px -3px rgba(233, 230, 230, 0.83);
                -webkit-box-shadow: 2px 8px 14px -3px rgba(233, 230, 230, 0.83);
                -moz-box-shadow: 2px 8px 14px -3px rgba(233, 230, 230, 0.83);
                display: flex;
                flex-direction: column;
                cursor: pointer;
                font-size: 0.8em;
                overflow-y: scroll;
            }
            .header__item__close {
                display: none;
            }
        }
        .header__settings {
            font-size: 0.75em;
            flex: 0.35;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 20px;
            cursor: pointer;
            .header__avatar {
                height: 28px;
                width: 28px;
                margin-right: 5px;
                margin-left: 10px;
                border: solid 1.5px rgb(218, 216, 216);
            }
            .header__notif {
                width: 18px;
                color: #838e99;
                margin-left: 5px;
            }
            a {
                font-weight: bold;
                color: #666;
            }
            .header__notif__on {
                position: relative;
                margin-top: -10px;
                margin-left: -6px;
                border: solid 1px rgb(206, 9, 49);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: crimson;
            }
            .header__caret {
                color: #838e99;
            }
        }
    }
}
