.form {
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    label {
        font-size: 0.9em;
        color: rgb(141, 141, 143);
    }

    .formautofill {
        .formautofill_input {
            border: solid 1px rgb(202, 203, 204);
            background-color: #fff;
            height: 40px;
            input {
                height: 32px;
                font-size: 0.9em;
                color: black;
                width: 99%;
                z-index: 2;
                margin-top: 3px;
                margin-left: 0.5%;
                font-weight: bold;
                padding-left: 2%;
                outline-color: #757afd;
            }
            .wajib {
                background-color: rgb(255, 245, 245);
                border: solid 1px rgb(255, 107, 107);
            }
            a {
                font-weight: bold;
                width: 100%;
                padding-left: 2%;
                float: left;
                margin-top: 8px;
            }
        }
        .wajib {
            background-color: rgb(255, 245, 245);
            border: solid 1px rgb(255, 107, 107);
        }

        .formautofill_option {
            position: relative;
            border: solid 1px rgb(202, 203, 204);
            max-height: 200px;
            height: auto;
            z-index: 1;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            border-top: none;

            a {
                padding: 9px 0px 9px 3%;
                font-size: 0.85em;
                cursor: pointer;
                color: rgb(99, 97, 97);
            }
            a:hover {
                background-color: rgb(246, 247, 251);
                border-top: solid 1px rgb(235, 235, 235);
                border-bottom: solid 1px rgb(235, 235, 235);
                color: rgb(99, 97, 97);
                text-decoration: none;
            }
            .select {
                background-color: rgb(246, 247, 251);
                border-top: solid 1px rgb(235, 235, 235);
                border-bottom: solid 1px rgb(235, 235, 235);
                color: rgb(99, 97, 97);
                text-decoration: none;
                font-style: none;
            }
        }
    }
}
