.itemasset {
    border-right: solid 1px #c2cdda;
    width: 100%;
    min-height: 81.6vh;
    height: auto;
    table{
        width: 100%;
        thead{
            tr{
                height: 40px;
                font-size: 0.9em;
                color: #606061;
                th{
                    position: sticky;
                    top: 0;
                    z-index: 5;
                    background-color: #f7fafc;
                    height: 40px;
                    border-bottom:  solid 1px #e8eff7;
                    box-shadow: 1px 0px 0px 1px #cad3dd;
                }
            }
        }  
        tbody{
            background-color: #fbfdff;
        }
    }
}
