.sidebarmenu{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 40px;
    border-bottom: solid 1px rgb(228, 228, 228);
    font-size: 13px;
    cursor: pointer;
    .sidebar_icon{
        font-size: 15px;
        margin:0px 10px 0px 20px;
        color: rgb(134, 134, 134);
    }
}

.sidebarmenu:hover{
    box-shadow: 1px 0px 0px 0px #ccc;
    border-bottom: solid 1px rgb(235, 232, 232);
    .sidebar_icon{
        font-size: 18px;
        color: #666;
    }
}